*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Token server secrets
token-server/.env

# ML models (do NOT upload)
app/src/main/assets/trans/
app/src/main/assets/tts/

# ASR models (do NOT upload)
app/src/main/assets/asr/

# Sample audio dataset (do NOT upload)
app/src/main/assets/test_data/
